<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Oops!</title>
    <link rel="stylesheet" href="/stylesheets/demotemplate.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <img src="/images/logo.svg">
</header>
<div id="parrot-1">
    <img src="/images/parrot1.svg" role="presentation">
</div>
<div id="container">
    <div id="text-container" style="text-align: center;">
        <span id="transparent" style="color: #d83b01;font-size: -webkit-xxx-large;">Oops!</span>
    </div>
    <span id="speech-bubble"></span>
</div>
<div id="parrot-2">
    <img src="/images/parrot2.svg" role="presentation">
</div>
<div class="parrot-2" id="container">
    <div id="text-container" style="text-align: center;"><span id="error-msg"><%= message %></span></div>
    <span id="speech-bubble"></span>
</div>
<img src="/images/soundwave.svg" role="presentation" class="soundwave">
</body>
</html>